<div class='container'>
	<h1 style='text-align:center'>Logs</h1> 

	<div class="alert alert-info" role="alert">
	  Filter date interval <%= @min_date != nil ? @min_date.strftime("%Y/%m/%d") : ''%> and <%= @max_date != nil ? @max_date.strftime("%Y/%m/%d") : '' %>
	</div>

	<div class='row'>
		<div class='form-group col-md-3'>
			<label for='startDate'>Start Date:</label> 
			<input type="text" placeholder="yyyy-mm-dd" class='datepicker form-control' id='startDate'>
		</div>
		<div class='form-group col-md-3'>
			<label for='endDate'>End Date:</label> 
			<input type="text" placeholder="yyyy-mm-dd" class='datepicker form-control' id='endDate'>
		</div>
	    <div class='form-group col-md-2'>
           <label for='sendRequest'>&nbsp;</label>
           <div>
              <button type="submit" class="btn btn-default" style='clear:both;' id='sendRequest' >Filter</button>
           </div>
        </div>
	</div>
	<div class='row'>
			<div class='form-group col-md-6'> 
				<div class="checkbox-inline">
				  <label><input type="checkbox" class='groupOpts' value="app">app</label>
				</div>
				<div class="checkbox-inline">
				  <label><input type="checkbox" class='groupOpts' value="connection">connection</label>
				</div>				
				<div class="checkbox-inline" >
				  <label><input type="checkbox" class='groupOpts' value="country">country</label>
				</div>				
				<div class="checkbox-inline">
				  <label><input type="checkbox" class='groupOpts' value="platform">platform</label>
				</div>
				<div class="checkbox-inline" >
				  <label><input type="checkbox" class='groupOpts' value="date(created_at)" checked >date</label>
				</div>				 
	        </div>
	</div>

	
	<table id='logs'>
		<thead>
			<tr>
				<th>app</th>
				<th>connection</th>
				<th>country</th>
				<th>platform</th>
				<th>impressions</th>
				<th>ad revenue</th>
				<th>cpm</th>
				<th>date(yyyy-mm-dd)</th>
			</tr>
		</thead>
		<tbody>
			<% @logs.each do |log| -%>
				<tr>
			    	<td><%= log.app %> </td>
			    	<td><%= log.connection %> </td>
			    	<td><%= log.country %> </td>
			    	<td><%= log.platform %> </td>
			    	<td><%= log.impressions %> </td>
			    	<td><%= log.ad_revenue %> </td>
			    	<td><%= (log.ad_revenue/(log.impressions/1000)).round(2) %> </td>
			    	<td><%= log.created_at.strftime("%Y/%m/%d") %> </td>
			    </tr>
			<% end -%>
		</tbody>	
			
		<tfoot>
			<tr>
				<th>app</th>
				<th>connection</th>
				<th>country</th>
				<th>platform</th>
				<th>impressions</th>
				<th>ad revenue</th>
				<th>cpm</th>
				<th>date(yyyy-mm-dd)</th>
			</tr>
		</tfoot>
	</table>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
  });

  $("#sendRequest").click(function() {
  	  var data = {
        startDate: $("#startDate").val(),
        endDate: $("#endDate").val()
      };
	



	 if(data.startDate != "" && data.endDate != ""){
	 	  var table= $('#logs').DataTable({
	  		 "columnDefs": [
		        {"className": "dt-center", "targets": "_all"}
		      ],
	  		"processing" : true,
	        "serverSide" : true,
	        "destroy": true,
	  		"ajax":  {
	  			"type": "POST",
	  			"url": "/ajaxRequest",
	  			"data": data
	  			},
	  		"columns": [
	            { "data": "app" },
	            { "data": "connection" },
	            { "data": "country" },
	            { "data": "platform" },
	            { "data": "impressions" },
	            { "data": "ad_revenue" },
	            { "data": "cpm"},
	            { "data": "date" }
	        ]
	  	});
	 }

  });


  $(".groupOpts").click(function() {
   	$('#logs').DataTable({
  		 "columnDefs": [
	        {"className": "dt-center", "targets": "_all"}
	      ],
  		"processing" : true,
        "serverSide" : true,
        "destroy": true,
  		"ajax":  {
  			"type": "POST",
  			"url": "/ajaxGroupByRequest",
  			"data": createJSON()
  			},
  		"columns": [
            { "data": "app", "defaultContent" : "" },
            { "data": "connection", "defaultContent" : "" },
            { "data": "country", "defaultContent" : "" },
            { "data": "platform", "defaultContent" : "" },
            { "data": "impressions", "defaultContent" : "" },
            { "data": "ad_revenue", "defaultContent" : "" },
            { "data": "cpm", "defaultContent" : "" },
            { "data": "date", "defaultContent" : "" }
        ]
  	});
  });


  function createJSON() {
    arr = [];
    $('.groupOpts:checkbox:checked').each(function() {
    	arr[$(this).val()]= $(this).val();
    });

    return arr;
}


</script>